


<link href="~/css/ezyclassified/theme-ezyclassified-home.css" rel="stylesheet" />
<div class="container">

    <!--<%-- -----------------------------Hero Banner------------------------------------
    share > setup > herobanner
    Home controller  home.js auto called in 2 seconds in home.js
    --%>-->

    <div class="homepage-banner">

        <div id="dvHeroBannerContainer"></div>


    </div>
    <!--<%-- ----------------------------- category slider selected by admin------------------------------------
                   share > categorysub >
     --%>-->

    <div class="slider-category">
        <div class="container">
            @*  <partial name="/Pages/Shared/setups/_categoriesslider.cshtml" /> *@

            <div id="dvCategoriesIncludeInMenuContainer"></div>
            @*  //------------------------------Thumbnail slider / boost products----------------------------------- *@
          
        </div>
    </div>




    <!--<%-- -----------------------------Home CMS------------------------------------
      share > setup > _cmsview
      Home controller  home.js auto called after 5 seconds in home.js
      --%>-->

    <div id="dvCMSViewhomeContainer"></div>



 



            <!--<%-- -----------------------------Boosted Products------------------------------------ --%>-->
            <div class="homepage-p2">
        <!--<%-- -----------------------------Boosted Products------------------------------

             share > setup > _productboost
             Home controller  home.js auto called in 4 seconds in home.js

           ------ --%>-->

        <div id="dvProductBoostHomeContainer"></div>

            
            </div>
 
   </div>

<!--<%-- -----------------------------Boosted Seller------------------------------------ --%>-->
<div class="container" id="dvFeaturedSellerHomeContainer"></div>


<!--<%-- -----------------------------Products----------------------------------- --%>-->
<div id="dvProductHomePageContainer"></div>


<!--<%-- -----------------------------Home footer CMS------------------------------------ --%>-->
@* @await Component.InvokeAsync("Global", new { viewName = "/Pages/Shared/Global/CMSView.cshtml", methodname = "cms", id = 0, value = "homefooter" })
 *@<div class="container" id="dvCMSViewhomefooterContainer"></div>



<!--<%-- -----------------------------Partner------------------------------------ --%>-->
<div class="container" id="dvPartnerHomeContainer"></div>

<!--<%-- -----------------------------Blog------------------------------------ --%>-->

<div class="home-blog">
    <div class="container">
        <div id="dvBlogHomeContainer"></div>
    </div>
</div>








<script>



    $(function () {
        var header = $(".main-header");

        $(window).scroll(function () {
            var scroll = $(window).scrollTop();
            if (scroll >= 500) {
                header.addClass("main-header-classadd");
            } else {
                header.removeClass("main-header-classadd");
            }
        });

    });

</script>
