@page
@model AMMasterProject.Pages.Admin.levels.sellerlevelModel
<title>Define Seller Levels</title>

@{
    Layout = "/Pages/Shared/_layoutAdmin.cshtml";
}

<div class="card">
    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead class="table-secondary">
                <tr>
                    <th>Description</th>
                    <th>Level One</th>
                    <th>Level Two</th>
                    <th>Level Three</th>
                </tr>
            </thead>
            <tbody class="form">


                <tr>
                     <td>Level Name</td>
                    <td><input type="text" /></td>
                    <td><input type="text" /></td>
                    <td><input type="text" /></td>
                </tr>
                <tr>



                    <td>Level Image</td>
                    <td><input type="text" /></td>
                    <td><input type="text" /></td>
                    <td><input type="text" /></td>
                </tr>
                <tr>



                    <td>Amount Earn</td>
                    <td><input type="text" /></td>
                    <td><input type="text" /></td>
                    <td><input type="text" /></td>
                </tr>
                <tr>



                    <td>No of Sales</td>
                    <td><input type="text" /></td>
                    <td><input type="text" /></td>
                    <td><input type="text" /></td>
                </tr>
                <tr>



                    <td>No of Cancellation</td>
                    <td><input type="text" /></td>
                    <td><input type="text" /></td>
                    <td><input type="text" /></td>
                </tr>
                <tr>



                    <td>No of Reviews</td>
                    <td><input type="text" /></td>
                    <td><input type="text" /></td>
                    <td><input type="text" /></td>
                </tr>
                <tr>



                    <td>Minimum Credit Purchase</td>
                    <td><input type="text" /></td>
                    <td><input type="text" /></td>
                    <td><input type="text" /></td>
                </tr>
                <tr>



                    <td>Minimum Credit Use</td>
                    <td><input type="text" /></td>
                    <td><input type="text" /></td>
                    <td><input type="text" /></td>
                </tr>

            </tbody>


        </table>
    </div>
</div>