@page
@model AMMasterProject.Pages.orders.cartModel
@{
    ViewData["Title"] = "Cart";
}

<div class=" cart-page">
<div class="container">


    <div class="row position-relative">
        <div class="col-md-8">
            <div class="white-bg radius padding15 m-none">
                <h3 class="no-margin bold">

                        <span class="notranslate" data-translate="cart">

                         Cart
                        </span>
                    
                </h3>
            </div>
            <div class="margintb-15 white-bg ">





                    <div id="dvShowCartViewContainer">
                    </div>
               @* <partial name="/Pages/orders/_cartview.cshtml" model="@Model.orderViewModelsList" />
*@









       


     
        
        </div>
    </div>

  

 





</div>


</div>
</div>

    <script>

        $(document).ready(function () {
            showcart();
        });
    </script>