@using AMMasterProject.ViewModel



  




          


                @*   partialview start*@


              


                                <div class="form  ">
                                    <section id="passwordForm">



                                        @* <p>You're logged in as <strong></strong>.</p>*@
                                        <div class="form-horizontal ">

                                            <div class="text-danger" data-valsummary="true">
                                            </div>
                                            <div class="form-group">
                <label class="notranslate" data-translate="newpassword">New password</label>
                                            <div class="input-group">
                                                    <input type="password" maxlength="200" id="txtpassword">
                                                    <span class="input-group-addon show_password">
                                                        <input type="checkbox" id="showPass">
                                                        <label for="showPass"></label>
                                                    </span>

                                            </div>
                                            <span id="validatorPassword" class="validation"></span>

                                            </div>
                                            <div class="form-group">
                <label class="notranslate" data-translate="confirmnewpassword">Confirm new password</label>
                                                <div>
                                                    <input type="password" maxlength="200" id="txtconfirmpassword" name="txtconfirmpassword">


                                                  
                                                </div>
                <span id="validatorConfirmPassword" class="validation"></span>

                                            </div>

            <span id="validatorMatch" class="validation"></span>
                                            <div class="form-group">

                <input id="btnpassword" type="submit" value="Change password" class="pull-right clickable-button">

                                            </div>
                                        </div>

                                    </section>



                                </div>
                           

                @*   partialview end*@






<script>

    $('#txtpassword').on('input', function () {





        passwordPolicy($('#txtpassword').val());
    });

    $('#txtconfirmpassword').on('input', function () {

        passwordcomparision();
    });



   
        $(document).on('click', '#btnpassword', function () {
            event.preventDefault();
           
            ChangePassword();
        });
   

    // Toggle password visibility
    $(document).ready(function () {





        $('#showPass').on('click', function () {

            
            var passInput = $("#txtpassword");
            if (passInput.attr('type') === 'password') {
                passInput.attr('type', 'text');
            } else {
                passInput.attr('type', 'password');
            }
        })



    });

    function passwordcomparision() {
        $('#validatorMatch').text('');
       
        var password = $("#txtpassword");
        var confirmPassword = $("#txtconfirmpassword");
        if (password.val() != confirmPassword.val()) {

            $('#validatorMatch').text('Password and Confirmation Password do not match.');
            return false;
        }

    }
    function ChangePassword() {
        var password = $('#txtpassword');
        var confirmPassword = $('#txtconfirmpassword');
        $('#validatorPassword').text('');
        $('#validatorConfirmPassword').text('');
        if (password.val() === "") {
            password[0].setCustomValidity("Please enter password.");
            password[0].reportValidity();

            $('#validatorPassword').text('Please enter password.');
            return false;
        }

        if (confirmPassword.val() === "") {
            confirmPassword[0].setCustomValidity("Please enter confirm password.");
            confirmPassword[0].reportValidity();
            $('#validatorConfirmPassword').text('Please enter confirm password.');
            return false;
        }



        passwordcomparision();


        $.ajax({
            type: 'POST',
            url: '/controller/Login/ChangePassword',
            data: {
              
                password: password.val()

            },
            success: function (data) {
                if (data.message === 'success') {

                  
                    toaster("Password changed successfully", "toast-success");


                    password.val("");
                    confirmPassword.val("");
                   
                } else {
                    // Message is returned, display it to the user
                    toaster(data.message, "toast-fail");
                }
            },
            error: function () {
                // Handle error if any
            }
        });







        return true; // Return true if validation passes
    }
</script>