@page  "/forgetpassword"
@model AMMasterProject.Pages.Login.forgetpasswordModel
@{
   
    ViewData["Title"] = "Forget Password";
}



<style>
    body,
    .body-content{
        background: white
    }
</style>


<div class="container paddingtb o-padding">




    @* -------------------Enter Email/Mobile----------------------*@

   
    
        <div class="row box-center" id="dvUserNameValidation">

        <div class="col-md-4 no-padding ">

      
            <br>
            <div class="border radius white-bg form m-no-border ">
                <p class="center bold h3 margin15 m-none">
                    <i class="fas fa-lock  margin15 grey-c"></i>


                    <span class="notranslate" data-translate="needhelpwithyourassword">

                        Need Help with your password? 
                    </span>
                  
                </p>
                <div class="padding30 grey-c">
                    <span class="notranslate" data-translate="enterregistereddetail">
                        Enter your registered email or phone with country code.
                        
                    </span>
                     <br />
                  @*   We'll send verification code *@

                    <div class="" id="dvFirstStep">
                        <div>

                         @*    <label id="validateUserNameAvailableCheck"></label> *@

                            <div>

                                <input type="text" autocomplete="off" maxlength="300" id="txtUserName" placeholder="Type your Username" />
                              
                             
                                <label id="validatorUserName" class="required"></label>
                             

                            </div>
                            <p class="h-30 no-margin">
                          
                             <label id="validateUserNameAvailableCheck"></label>
                            </p>
                            <div id="recaptcha-container"></div>
                        </div>
                            
                
                            <div class=" form o-padding ">
                                
                            <button type="button" class="w-100 float-none clickable-button" id="btnverification">
                                <span class="notranslate" data-translate="continue">
                                    Continue
                                </span>
                            </button>

                            </div>

                        </div>
                  
                    
                    
                    </div>

                </div>

            </div>

            <p class="center h5 padding10 m-none grey-c">


            <span class="notranslate" data-translate="donhaveanaccount">

                Don’t have an account?
            </span> <a class="theme-c" href="~/register">
                <span class="notranslate" data-translate="signup">

                    Sign up
                </span>
            </a>
            </p>
        </div>
   

    


    @* -------------------Verification----------------------*@
<div id="dvVerificationCode" style="display:none;">
    <div class="row box-center" >

            <div class="col-md-4 no-padding ">


                <a style="" class="bold float-end grey-c m-none " href="~/forgetpassword">
                    <span class="m-none notranslate" data-translate="back">Back</span>

                </a>
                <br/>
                <div class="border radius white-bg form paddingtb-15 m-no-border  ">


                       
                        <div class="padding30 form medium  login">
                        <span class="h3 line30">
                            <span class="notranslate" data-translate="verifyyour">Verify Your</span>
                             <label id="lblloginchannel"></label>

                        </span>
                            <p class="grey-c">

                       
                       
                          <label id="lblnotificationsend"></label>
                  
                        </p>
                        <div class="form-group">


                              

                           
                        <input type="text" maxlength="20" id="txtVerificationCode" class="large text-center" placeholder="Enter Verification Code" required />
                         


                        <label id="validatorVerificationCode" class="validation"></label>


                            </div>
                      
                        <div class="form-group">
                            <span class="notranslate" data-translate="enternewpassword">  Enter New Password</span>
                          
                            <div class="input-group">
                            <input type="password" maxlength="200" id="txtpassword">
                            <span class="input-group-addon show_password">
                                <input type="checkbox" id="showPass">
                                <label for="showPass"></label>
                            </span>
                            </div>

                        </div>

                        <label id="validatorPassword" class="required"></label>

                       
                        <p class="grey-c padding10">
                            <span class="notranslate" data-translate="verifymsg">  Enter New Password</span>


                            <span class="h3 line30 notranslate" data-translate="verificationcodemsg">

                                If you haven't received the verification code, please click on
                            </span>  <a class="clickable-button" id="btnResendVerificationCode">
                                <span class="notranslate" data-translate="resendverificaitoncode">

                                    Re-Send Verificaiton Code
                                </span>

                            </a>


                        </p>
                            <div class="row ">

                                <div class="col-md-8">
                                </div>
                                <div class="col-md-4 right no-padding">
                                <button type="button" class="w-100 float-none clickable-button" id="btnresetpassword">
                                    <span class="notranslate" data-translate="continue">
                                        Continue
                                    </span>

                                </button>

                              
                        
                        </div>
                         

                            </div>
                    

                        </div>

                </div>
            </div>
        </div>
    </div>

  




</div>





<script>

 
   
    // Toggle password visibility
    var UserName;
    var loginchannel;

    document.addEventListener('DOMContentLoaded', function () {
        firebasecredential();
    });



    // $('#txtUserName').on('input', function () {

    //     firebasecredential();
    //     UserName = $('#txtUserName').val();
    //     ForgetPasswordUserNameAvailableCheck(UserName);
    // });
       
          
       
   




    $('#showPass').on('click', function () {
        var passInput = $("#txtpassword");
        if (passInput.attr('type') === 'password') {
            passInput.attr('type', 'text');
        } else {
            passInput.attr('type', 'password');
        }
    });


    $('#txtpassword').on('input', function () {



        var password = $('#txtpassword').val();
        var passwordErrorMessage = passwordPolicy(password);

        if (passwordErrorMessage) {
            $('#validatorPassword').text(passwordErrorMessage);
            return false;
        }
        else {
            $('#validatorPassword').text('');
        }


    });

    ///call controller to check if username exist and if exist send the code one email
    //or if phone so send sms
    $(document).on('click', '#btnverification', function () {
        $('#validatorUserName').text('');
        UserName = $('#txtUserName').val();

        if (UserName === "") {
            $('#validatorUserName').text('User name is required');
            return false;
        }

      
        ///now call the method to check username exist or not
        ForgetPasswordUserNameAvailableCheck(UserName);

       

    });


    //third screen verification code matching --this is last step
    $(document).on('click', '#btnresetpassword', function () {
        $('#validatorPassword').text('');
        $('#validatorVerificationCode').text('');
        var verificationcode = $('#txtVerificationCode').val();
        var password = $('#txtpassword').val();



        if (verificationcode === "") {
            $('#validatorVerificationCode').text('Validation code is required');
            return false;
        }


        if (password === "") {
            $('#validatorPassword').text('Password is required');
            return false;
        }

        if (verificationcode != "" && password!="")
        {
            if ($('#lblloginchannel').text() == "Email") {

              
                PasswordVerificationCodeValidation(verificationcode, password, UserName);
            }
           
            else if ($('#lblloginchannel').text() == "Phone") {
                codeverifypasswordreset(verificationcode, UserName, password);
            }


            
        }
         
       
    });


    $(document).on('click', '#btnResendVerificationCode', function () {
        $('#validatorUserName').text('');
        UserName = $('#txtUserName').val();

        if (UserName === "") {
            $('#validatorUserName').text('User name is required');
            return false;
        }

      
        ///now call the method to check username exist or not
        ForgetPasswordUserNameAvailableCheck(UserName);



    });



    $('#dvFirstStep').off('keyup').on('keyup', function (event) {
        if (event.which === 13) {
            event.preventDefault();
            event.stopPropagation();
            $('#btnverification').click();
        }
    });
</script>

