@page
@model AMMasterProject.Pages.faqModel
@{
    ViewData["Title"] = "FAQ";
}
<div class="theme-bg padding30">

    <div class="container">
      
                <h2 class="f-theme-c">
            <span class="notranslate" data-translate="frequentlyaskedquestion"> Frequently asked question </span>

                    


                </h2>
    
    </div>
</div>
<div class="container">



    <div class="accordion r-notes paddingtb" id="accordionExample">


        <div class="accordion-item">
            <h2 class="accordion-header" id="july2021heading">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#july2021" aria-expanded="true" aria-controls="july2021">
                    What is the Customer Panel?
                </button>
            </h2>
            <div id="july2021" class="accordion-collapse collapse" aria-labelledby="headingO" data-bs-parent="#accordionExample" style="">
                <div class="accordion-body">


                    The Customer Panel is like user personal space on website where user can do all browsing stuff. User can see orders, create a wishlist, and set things up the way user like.

                </div>
            </div>
        </div>

     







    </div>
</div>