


    .rtl .layout-menu {
        left: initial !important;
        right: 0px !important;
    }

.rtl .layout-content-navbar .layout-page {
    padding-right: 16.25rem !important;
    padding-left: 0rem !important;
}

.rtl .layout-page .navbar-wrapper {
    left: 2px;
    right: 16rem;
}
.rtl .menu-inner .menu-header-text::before{
    right:0px;
    left:initial
}

.rtl .menu-inner .menu-header-text::after {
    left: 20px;
    right:initial
}

.rtl .menu-inner .menu-header-text.collapsed::after
{
    transform: translateY(-50%) rotate(220deg);
}

.rtl .menu-toggle::after {
    transform: translateY(-50%) rotate(220deg);
}

.rtl .menu-vertical .menu-item .menu-toggle::after {
    left: 1rem;
    right:initial
}

.rtl .simple-tab .tab-content {
    border-left: 0px solid rgb(245, 245, 249);
    border-right: 3px solid rgb(245, 245, 249);
}

.rtl .padding-right {
    padding-left: 10px !important;
    padding-right: 0px
}

.rtl .padding-left {
    padding-right: 10px !important;
    padding-left: 0px
}
.rtl .right {
    text-align: left !important;
}

.rtl .left {
    text-align: right !important;
}

.rtl .float-end {
    float: left !important;
}

.rtl .seller-p-section {
    right: initial;
    left: 22px;
}



.rtl .menu-icon {
    margin-left: 0.5rem;
    margin-right:0px;
}

.rtl .menu-link {
    padding: 10px 10px !important;
}

.rtl .l-tabs a:first-child {
    border-radius: 0px 8px 0px 0px;
}
.rtl table.dataTable thead th,
.rtl table.dataTable thead td,
.rtl table.dataTable tfoot th,
.rtl table.dataTable tfoot td {
    text-align: right;
}

.rtl .ms-auto {
    margin-left: 0px !important;
    margin-right: auto !important;
}
.rtl .required::after {
    margin-left: -13px;
}
