@page
@model AMMasterProject.Pages.Admin.Discounts.addModel
@{
    <title>Discounts</title>


    Layout = "/Pages/Shared/_layoutAdmin.cshtml";
}
<div class="row no-margin">
    <div class="col-md-2">
        <div class="nav nav-pills flex-column flex-md-row mb-3">
            <a class="nav-link" href="~/admin/discounts">
                <i class="bx bx-list-ul me-1"></i>
                List
            </a>
            <a class="nav-link" href="~/admin/discounts/add"><i class="bx bx-plus me-1"></i> Add </a>

        </div>
    </div>
    <div class="card col-md-10">
        <div class="form padding30">




            <div class="row">

                <div class="col-md-3 s-bold">
                    Discounts Detais
                </div>

                <div class="col-md-9 no-padding">
                    <div class="row">


                        <div class="form-group col-md-5">
                            Title
                            <input type="text">
                        </div>

                        <div class="col-md-5 padding-right">
                           Discounts %
                            <select>
                            
                            </select>

                        </div>
                        <div class="form-group col-md-10">
                            Description
                            <input type="text">



                        </div>



                    </div>
                </div>
            </div>
  <hr/>
            <div class="checkright row">


                <div class="col-md-3 s-bold">
                     Applied On
                </div>

                <div class="col-md-9">
                    <div class="form-group">

                        <input id="checkboxpublish1" type="radio"><label for="checkboxpublish1">All </label>
                        <input id="checkboxpublish2" type="radio"><label for="checkboxpublish2">Selected Seller</label>
                        <input id="checkboxpublish3" type="radio"><label for="checkboxpublish3">Selected Listing</label>
                        <input id="checkboxpublish4" type="radio"><label for="checkboxpublish14">Selected Category</label>


                    </div>


                </div>
            </div>

            <hr />

            <div class="row">

                <div class="col-md-3 s-bold">
                    Date
                </div>

                <div class="col-md-9 no-padding">
                    <div class="row">


                        <div class="form-group col-md-5">
                            Start Date
                            <input type="date">
                        </div>

                        <div class="col-md-5 padding-right">
                            End Date
                            <input type="date">

                        </div>
                    </div>
                </div>
            </div>
                        
                        
                        <hr/>
            <div class="row">

                <div class="col-md-3 s-bold">
                    Image <span class="l-bold grey-c">Optional</span>
                </div>





                <div class="form-group col-md-9">
                    Select Badge





                    <div class="div">

                        <label class="file-upload">
                            <span class="btn white-c bg-secondary"> Select Badge</span>
                            <input type="file" id="ImageUploadJquery">


                        </label>
                        <br/>
                        <small>This badge will be displayed on listings.</small>
                        <img class="margin15 preview" src="https://amenvato.s3.us-east-2.amazonaws.com/envatoallproject/Envato779c4e0e-4c7f-468f-96fb-3159da70b96d.gif" />


                    </div>





                </div>



            </div>
            <hr />
            <div class="checkright row">


                <div class="col-md-3 s-bold">
                    Status
                </div>

                <div class="col-md-9">
                    <div class="form-group">


                        <input id="checkboxpublish" type="checkbox"><label for="checkboxpublish">Publish</label>

                        <p class="small grey-c paddingrf-15 marginrf-15">  Mark check if you want to live this product Section</p>


                    </div>


                </div>
            </div>
            <hr>


            <div class="row paddingrf-15 right">
                <div class="col-md-6"></div> <div class="col-md-6">    <button>Save</button></div>



            </div>
        </div>

    </div>
</div> 