@using AMMasterProject
@using AMMasterProject.Helpers
@using AMMasterProject.ViewModel
@model AnnouncementCounterViewModel
@if (Model!=null)
{
    <span id="spanannouncementCounter" class="notify"> @Model.AnnouncementCounter</span>
}