@page
@model AMMasterProject.Pages.Admin.Reports.salesModel
@{
    <title>Sales Report</title>

    Layout = "/Pages/Shared/_layoutAdmin.cshtml";
}
<div class="card">
    <div class="table-responsive text-nowrap">
        <table id="ListingLoad" class="table">
            <thead class="table-secondary">
              <tr>
                  <th>Date</th>
                    <th>Revenue</th> 
                    <th>Description</th>
                    <th>
                        Status
                    </th>
                    <th>Amount</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Date</td>
                    <td>Revenue</td>
                    <td>Description</td>
                    <td>
                        Status
                    </td>
                    <td>Amount</td>
                </tr>
            </tbody>
       </table>
    </div>  
</div>