@page
@model AMMasterProject.Pages.Admin.changepasswordModel
@{
         <title>Change Password</title>
    Layout = "/Pages/Shared/_layoutAdmin.cshtml";
}



<div class="card form padding30">

    <div class="row">
        <div class="col-md-5">
            <partial name="/Pages/Login/_changepassword.cshtml" />
        </div>
    </div>

</div>