@page
@model AMMasterProject.Pages.Admin.supportModel
@{
    ViewData["Title"] = "Support";
    Layout = "/Pages/Shared/_layoutAdmin.cshtml";
    <title>Support</title>
}

@* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
<script src="https://amtechnology.info/js/license.js?v=@DateTime.Now"></script>
@* <script src="https://localhost:44344/js/license.js?v=@DateTime.Now"></script> *@

<div id="contactFormContainer"></div>
