@page
@model AMMasterProject.Pages.Admin.subscriptionsetup.IndexModel
@{
      <title>Subscription Setup</title>
    Layout = "/Pages/Shared/_layoutAdmin.cshtml";
}
<div class="row no-margin">
    <div class="col-md-2">
        <div class="nav nav-pills flex-column flex-md-row mb-3">
            <a class="nav-link" href="~/admin/subscriptionsetup">
                <i class="bx bx-list-ul me-1"></i>
           List
            </a>
            <a class="nav-link" href="~/admin/subscriptionsetup/add"><i class="bx bx-plus me-1"></i> Add New</a>
            <a class="nav-link" href="~/admin/subscriptionsetup/settings"><i class="bx bx-cog me-1"></i> Setting </a>

        </div>
    </div>
    <div class="card col-md-10 no-padding">
        <div class="table-responsive text-nowrap">
            <table id="ListingLoad" class="table">
                <thead class="table-secondary">
                    <tr>



                        <th style="width:150px" class="text-center">Title</th>
                        <th style="width:150px" class="text-center">  Amount </th>
                     
                        <th style="width:100px" class="text-center">  Recurring Period (In Days)</th>
                        <th style="width:100px" class="text-center">Is Publish</th>
                        <th style="width:60px" class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">

                    @*     Loop start*@

                   @foreach (var item in Model.revenuesubscriptionpackage)
                    {
                        
                  
                    <tr>


                        <td class="text-center">

                          @item.RevenuePackageName
                        </td>
                        <td class="text-center">
                           @item.CreditAmount
                        </td>
                       
                        <td class="text-center">
                           @item.RecurringPeriodInDays
                        </td>

                        <td class="text-center">
                            @item.IsPublish
                        </td>
                        <td class="center">
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">

                                        <a href="~/admin/subscriptionsetup/add?ID=@item.RevenueSubscriptionPackageID" class="dropdown-item"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                                   @* <a class="dropdown-item"><i class="bx bx-trash"></i> Delete</a>*@
                                </div>
                            </div>
                        </td>
                    </tr>
                    }
                    @*     Loop End*@


                </tbody>
            </table>
        </div>
      
    </div>
</div>