@page
@model AMMasterProject.Pages.Admin.Bankpromotions.IndexModel
@{
    <title>Bank Promotions</title>

    Layout = "/Pages/Shared/_layoutAdmin.cshtml";
}

<div class="form card padding30">
    <div class="form padding30 row">

        <div class="row">

            <div class="col-md-5 no-padding">
                <div class="row">


                    <div class="form-group ">
                       Promotion Code
                        <input type="text" />
                    
                    </div>



                    <div class="form-group">
                      Start Date
                        <input type="text" />
                    </div>

                    <div class="form-group">
                        End Date
                        <input type="text">
                    </div>

                    <div class="form-group">
                        <button>Save</button>
                    </div>



                </div>
            </div>
            <div class="col-md-1 m-none"></div>
            <div class="col-md-6 m-none s-bold float-end">
            </div>
        </div>

    </div>
</div>