@page
@model AMMasterProject.Pages.Affiliate.IndexModel
@{
}
<div class="paddingtb-15 o-padding">
    <div class="container">
        <div class="row">




            <partial name="/Pages/user/_tab.cshtml" />



            <div class="customer-page">
                <div class="padding15 white-bg radius">
              
             
                <div class="h4">
                    Affiliate Details
                    </div>  
                <div class="white-bg ">
                    <div class="row padding15">



                        <div class="col-md-3 padding5">
                            <div class="border white-bg shadow radius center padding30">
                                <div class="margintb-15">
                                    <p class="h3 bold">
                                       0
                                    </p>
                                    <p class="small grey-c">
                                        Total Signup:

                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 padding5">
                            <div class="border white-bg shadow radius center padding30">
                                <div class="margintb-15">
                                    <p class="h3 bold">
                                        0
                                    </p>
                                    <p class="small grey-c">
                                        Total Orders:

                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 padding5">
                            <div class="border white-bg shadow radius center padding30">
                                <div class="margintb-15">
                                    <p class="h3 bold">0

                                      
                                    </p>
                                    <p class="small grey-c">
                                        Total Purchase Amount:

                                    </p>
                                </div>
                            </div>
                        </div>






                    </div>
                </div>
                <br/>  <h4>
                        My Affiliate Link
                    </h4>     <div class="alert alert-success">
                        <span>https://localhost:4051?AffiliateID=44O9T2TnwohTYQN/XevX0Q==</span>
                    </div>
                <br>


                <label id="lblcms3"></label>


                </div>
            </div>
        </div>
    </div>
</div>