@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="div-error">
	<div class="div-popup">


		<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 511.999 511.999" style="enable-background:new 0 0 511.999 511.999;" xml:space="preserve">
<g>
		<circle style="fill:#B2B2B2;" cx="448.389" cy="320.13" r="16.03"></circle>
		<circle style="fill:#6F6571;" cx="63.609" cy="320.13" r="16.03"></circle>
</g>
<path style="fill:#AEA8AF;" d="M408.305,167.823H103.693c-8.854,0-16.032,7.178-16.032,16.032v16.032
	c0,8.854,7.178,16.032,16.032,16.032h304.613c8.854,0,16.032-7.178,16.032-16.032v-16.032
	C424.338,175,417.16,167.823,408.305,167.823z"></path>
<path style="fill:#9C969E;" d="M408.305,167.823v8.016c0,8.854-7.178,16.032-16.032,16.032H119.725
	c-8.854,0-16.032-7.179-16.032-16.032v-8.016c-8.854,0-16.032,7.178-16.032,16.032v16.032c0,8.854,7.178,16.032,16.032,16.032
	h304.613c8.854,0,16.032-7.179,16.032-16.032v-16.032C424.338,175,417.16,167.823,408.305,167.823z"></path>
<rect x="239.969" y="103.69" style="fill:#AEA8AF;" width="32.06" height="56.11"></rect>
<rect x="175.839" y="159.81" style="fill:#B4B4B4;" width="160.32" height="48.1"></rect>
<path style="fill:#C7C7C7;" d="M223.934,432.355v56.113c0,8.854,7.178,16.032,16.032,16.032h32.065
	c8.854,0,16.032-7.178,16.032-16.032v-56.113H223.934z"></path>
<path style="fill:#DBD9DC;" d="M348.32,151.79h-14.398c-3.45,0-6.514,2.208-7.605,5.481l-8.724,26.172
	c-3.273,9.82-12.463,16.443-22.814,16.443h-77.56c-10.351,0-19.54-6.624-22.814-16.443l-8.724-26.172
	c-1.091-3.273-4.154-5.481-7.605-5.481h-14.398c-19.151,0-34.032,16.678-31.857,35.705l24.736,216.436
	c1.851,16.195,15.557,28.424,31.857,28.424h135.169c16.3,0,30.006-12.229,31.857-28.424l24.736-216.435
	C382.351,168.469,367.471,151.79,348.32,151.79z"></path>
<path style="fill:var(--theme-color);" d="M215.918,280.048l5.784,34.701c1.288,7.73,7.977,13.396,15.814,13.396h36.966
	c7.838,0,14.526-5.666,15.814-13.396l5.784-34.701H215.918z"></path>
<path style="fill:#C9C6CA;" d="M267.539,400.29c-40.75,0-75.016-30.573-79.643-71.059L168.033,155.43
	c-0.141-1.237-0.021-2.427-0.022-3.64h-4.334c-19.151,0-34.031,16.678-31.856,35.705l24.736,216.436
	c1.851,16.195,15.557,28.423,31.857,28.423h135.169c16.3,0,30.007-12.23,31.857-28.425l0.416-3.64h-88.317V400.29z"></path>
<path style="fill:#DBD9DC;" d="M312.112,103.694H199.886c-26.563,0-48.097-21.534-48.097-48.097l0,0
	c0-26.563,21.534-48.097,48.097-48.097h112.226c26.563,0,48.097,21.534,48.097,48.097l0,0
	C360.209,82.16,338.675,103.694,312.112,103.694z"></path>
<path style="fill:#8c8c8c;" d="M344.176,87.661H231.951c-26.563,0-48.097-21.534-48.097-48.097c0-12.24,4.611-23.378,12.141-31.868
	c-24.738,1.986-44.205,22.65-44.205,47.9c0,26.563,21.534,48.097,48.097,48.097h112.226c14.323,0,27.145-6.296,35.956-16.229
	C346.781,87.567,345.49,87.661,344.176,87.661z"></path>
<g>
		<circle style="fill:#D4F582;" cx="199.889" cy="55.6" r="16.03"></circle>
		<circle style="fill:#D4F582;" cx="312.109" cy="55.6" r="16.03"></circle>
		<circle style="fill:#D4F582;" cx="199.889" cy="55.6" r="16.03"></circle>
</g>
<rect x="239.969" y="103.69" style="fill:#9C969E;" width="32.06" height="24.05"></rect>
<path style="fill:#7B767D;" d="M264.015,456.403h24.048v-24.048h-64.129v56.113c0,8.854,7.178,16.032,16.032,16.032h8.016v-32.065
	C247.983,463.581,255.161,456.403,264.015,456.403z"></path>
<path d="M199.886,32.064c-12.976,0-23.532,10.557-23.532,23.532s10.557,23.532,23.532,23.532s23.532-10.557,23.532-23.532
	S212.862,32.064,199.886,32.064z M199.886,64.129c-4.705,0-8.532-3.827-8.532-8.532s3.828-8.532,8.532-8.532
	s8.532,3.827,8.532,8.532S204.591,64.129,199.886,64.129z"></path>
<path d="M312.112,79.129c12.976,0,23.532-10.557,23.532-23.532s-10.557-23.532-23.532-23.532S288.58,42.622,288.58,55.597
	S299.136,79.129,312.112,79.129z M312.112,47.064c4.705,0,8.532,3.827,8.532,8.532s-3.828,8.532-8.532,8.532
	s-8.532-3.827-8.532-8.532S307.407,47.064,312.112,47.064z"></path>
<path d="M470.694,369.966c-4.148-4.147-9.249-6.994-14.808-8.344v-19.194c9.308-3.139,16.032-11.946,16.032-22.3
	c0-12.976-10.557-23.532-23.532-23.532c-0.216,0-0.43,0.01-0.645,0.016l-27.974-76.185c7.194-4.03,12.071-11.725,12.071-20.542
	v-16.032c0-12.976-10.557-23.532-23.532-23.532H380.11c-0.713-0.964-1.464-1.905-2.269-2.808
	c-7.498-8.404-18.258-13.225-29.521-13.225h-14.397c-5.728,0-10.881,3.133-13.574,8.017h-40.817v-41.113h32.581
	c30.656,0,55.597-24.94,55.597-55.597S342.768,0,312.112,0H199.886c-30.656,0-55.597,24.94-55.597,55.597
	s24.94,55.597,55.597,55.597h32.581v41.113h-40.816c-2.693-4.884-7.846-8.017-13.574-8.017h-14.398
	c-11.263,0-22.023,4.82-29.521,13.225c-0.805,0.902-1.555,1.844-2.269,2.808h-28.196c-12.976,0-23.532,10.557-23.532,23.532v16.032
	c0,8.816,4.876,16.511,12.071,20.542l-27.974,76.185c-0.215-0.006-0.429-0.016-0.645-0.016c-12.976,0-23.532,10.557-23.532,23.532
	c0,10.354,6.724,19.16,16.032,22.3v19.194c-5.559,1.35-10.66,4.197-14.808,8.345c-12.3,12.3-12.3,32.315,0,44.615
	c1.464,1.465,3.384,2.197,5.303,2.197c1.919,0,3.839-0.732,5.303-2.196c2.929-2.929,2.929-7.678,0-10.606
	c-6.452-6.453-6.452-16.951,0-23.403c6.452-6.453,16.951-6.453,23.403,0c6.452,6.452,6.452,16.95,0,23.402
	c-2.929,2.93-2.929,7.678,0,10.607c2.929,2.928,7.678,2.928,10.606,0c5.959-5.959,9.241-13.882,9.241-22.309
	s-3.282-16.35-9.241-22.309c-4.148-4.147-9.249-6.994-14.808-8.344v-19.194c9.308-3.139,16.032-11.946,16.032-22.3
	c0-7.407-3.443-14.021-8.809-18.338l28.777-78.372h21.266l20.728,181.364c2.286,19.994,19.185,35.071,39.309,35.071h28.02v48.613
	c0,12.976,10.557,23.532,23.532,23.532h32.064c12.976,0,23.532-10.557,23.532-23.532v-48.613h28.02
	c20.125,0,37.023-15.077,39.309-35.071l20.728-181.364h21.266l28.777,78.372c-5.366,4.317-8.809,10.931-8.809,18.338
	c0,10.354,6.724,19.16,16.032,22.3v19.194c-5.559,1.35-10.66,4.196-14.808,8.344c-5.959,5.959-9.241,13.882-9.241,22.309
	s3.282,16.35,9.241,22.309c2.929,2.928,7.678,2.928,10.606,0c2.929-2.93,2.929-7.678,0-10.607c-6.452-6.452-6.452-16.95,0-23.402
	s16.95-6.453,23.403-0.001c6.452,6.453,6.452,16.951,0,23.404c-2.929,2.929-2.929,7.678,0,10.606
	c1.464,1.464,3.384,2.196,5.303,2.196s3.839-0.732,5.303-2.197C482.995,402.282,482.995,382.267,470.694,369.966z M63.612,328.661
	c-4.705,0-8.532-3.827-8.532-8.532s3.828-8.532,8.532-8.532s8.532,3.827,8.532,8.532S68.316,328.661,63.612,328.661z
	 M315.066,167.307l-4.588,13.766c-2.256,6.768-8.565,11.314-15.699,11.314h-77.56c-7.134,0-13.443-4.547-15.699-11.313
	l-4.588-13.767H315.066z M159.29,55.597C159.29,33.212,177.501,15,199.887,15h112.226c22.385,0,40.597,18.212,40.597,40.597
	s-18.211,40.597-40.597,40.597H199.886C177.501,96.193,159.29,77.981,159.29,55.597z M247.467,111.193h17.064v41.113h-17.064
	L247.467,111.193L247.467,111.193z M103.692,208.419c-4.705,0-8.532-3.827-8.532-8.532v-16.032c0-4.705,3.828-8.532,8.532-8.532
	h21.367c-0.937,4.234-1.192,8.632-0.69,13.025l2.294,20.071H103.692z M272.031,497h-32.064c-4.705,0-8.532-3.827-8.532-8.532
	v-19.929l14.041,7.02c3.295,1.647,6.909,2.472,10.524,2.472c3.615,0,7.229-0.824,10.524-2.472l14.041-7.02v19.929
	C280.563,493.173,276.736,497,272.031,497z M280.563,451.768l-20.749,10.374c-2.39,1.193-5.242,1.193-7.632,0l-20.749-10.374
	v-11.914h49.129v11.914H280.563z M347.989,403.08c-1.419,12.413-11.911,21.774-24.406,21.774H188.415
	c-12.495,0-22.987-9.361-24.406-21.774l-13.204-115.531h58.76l4.739,28.434c1.899,11.394,11.661,19.663,23.212,19.663h36.967
	c11.551,0,21.313-8.27,23.212-19.663l4.739-28.434h9.678c4.142,0,7.5-3.357,7.5-7.5s-3.358-7.5-7.5-7.5H149.091l-9.818-85.904
	c-0.794-6.948,1.421-13.926,6.077-19.144c4.656-5.219,11.336-8.211,18.329-8.211h14.397c0.223,0,0.419,0.142,0.49,0.353
	l8.724,26.174c4.301,12.901,16.329,21.57,29.929,21.57h77.561c13.601,0,25.628-8.669,29.929-21.571l8.724-26.172
	c0.07-0.212,0.267-0.354,0.49-0.354h14.397c6.993,0,13.673,2.992,18.329,8.211c4.656,5.218,6.871,12.195,6.077,19.144l-9.818,85.904
	h-18.73c-4.142,0-7.5,3.357-7.5,7.5s3.358,7.5,7.5,7.5h17.015L347.989,403.08z M224.772,287.549h62.454l-4.328,25.967
	c-0.688,4.132-4.228,7.13-8.416,7.13h-36.967c-4.188,0-7.728-2.998-8.416-7.13L224.772,287.549z M386.938,175.322h21.367
	c4.705,0,8.532,3.827,8.532,8.532v16.032c0,4.705-3.828,8.532-8.532,8.532h-22.971l2.294-20.071
	C388.13,183.954,387.875,179.556,386.938,175.322z M448.386,311.597c4.705,0,8.532,3.827,8.532,8.532s-3.828,8.532-8.532,8.532
	s-8.532-3.827-8.532-8.532S443.682,311.597,448.386,311.597z"></path>

</svg>


		<div>
			<h3 class="black-c">
				<span data-translate="errorheading">Error Heading</span>

				
			</h3>
			<p>
				error msg
			</p>


			<a class="btn theme-bg radius30 white-c">Error Btn</a>
		</div>
	</div>
</div>