@using AMMasterProject
@using AMMasterProject.Helpers
@using AMMasterProject.ViewModel
@model AnnouncementCounterViewModel
@if (Model != null)
{
    <span id="spanInboxCounter" class="i-notify"> @Model.AnnouncementCounter</span>
}