@page
@model AMMasterProject.Pages.User.changepasswordModel
@{
    ViewData["Title"] = "Change Password";

}
<div class="paddingtb-15 o-padding">
    <div class="container">
        <div class="row">


            <div class="customer-page-menu">

            <partial name="/Pages/user/_tab.cshtml" />
            </div>
           @* Change password partialview goes here*@


            <div class="customer-page">
                <div class="padding15 white-bg radius">
                    <div class="h4">
                        <span class="notranslate" data-translate="changepassword">
                          Change Password
                        </span>
                        

                    </div>

                </div>


                <div class="padding15 form white-bg">

                    <div class="row ">
                        <div class="col-md-7">

            <partial name="/Pages/Login/_changepassword.cshtml" />

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>