@page
@model AMMasterProject.Pages.User.settingsModel
@{
}


<div class="paddingtb-15 o-padding">
    <div class="container">
        <div class="row">


            <div class="customer-page-menu">

                <partial name="/Pages/user/_tab.cshtml" />


            </div>
            <div class="customer-page">
                <div class="h4">
                    <span class="cap notranslate" data-translate="accessandcontrol"> Access and Control</span>

                

                </div>
                </div>
        </div>
    </div>
</div>
