@page
@model AMMasterProject.Pages.User.shippingModel
@{
    ViewData["Title"] = "Shipping";
}
<div class="paddingtb-15 o-padding">
    <div class="container">

        <div class="row">


            <div class="customer-page-menu">


            <partial name="/Pages/user/_tab.cshtml" />

            </div>

            <div class="customer-page">
                <div class="padding15 white-bg radius m-none">
                    <h4 class="o-username box-left">
                        <span class="cap notranslate" data-translate="shippingdetails"> Shipping Details </span>

                        

                    </h4>
                </div>


                <div class="white-bg">


                    <div class="row no-padding no-margin">




                        <div class="col-lg-4 col-sm-6 padding5 o-padding shipping-box">

                            <a id="MainContent_uc_shipping_LinkButton1" href="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$MainContent$uc_shipping$LinkButton1&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, true))">
                                <div class="padding30 border radius l-grey-bd">
                                    <div class=" center ">
                                        <img id="MainContent_uc_shipping_Image1" class="white-smoke-bg padding15 radius100" src="https://amenvato.s3.us-east-2.amazonaws.com/envatoallproject/a2ea7927-13d9-4408-96b2-a547b9b90a67.png" alt="add-new-img" style="height:110px;width:110px;">
                                    </div>
                                    <br>
                                    <p class="center">
                                        <span class="notranslate" data-translate="addnewshippingdetails">  Add New Shipping Details</span>


                                        
                                       
                                    </p>

                                </div>
                            </a>

                        </div>




                    </div>













                


                

                </div>
            </div>
        </div>
    </div>
</div>



<div class="overlay-view form" style="display:none">
 
     <div class="popup padding15">

         <div class="top-menu">
            <span class="title-heading notranslate" data-translate="shippingdetails">
            Shipping Details</span>
  
        </div>
         <div class="h4 bold m-none padding15">
            <span class="notranslate" data-translate="addnewaddress">
                Add New Address
            </span>
            
             <hr>
         </div>

     <a  class="close" ><i class="fa fa-times"></i></a>
     


<div class="row">
    <div class="col-md-4 form-group">
        First Name
        <input  type="text">
    </div>


            <div class="col-md-4  form-group">
        Last Name
                <input type="text">
            </div>
    </div>


         <div class="row">


            <div class="col-md-4  form-group">
        Phone
                <input type="text">
            </div>


            <div class="col-md-4  form-group">
   Email
                <input type="text">
    </div>

    </div>

        <div class="row paddingrf-15  form-group">
     Address
            <input type="text">
        </div>
         <div class="row ">
            <div class="col-md-4  form-group">
     City
                <input type="text">
            </div>
            <div class="col-md-4  form-group">
   State
                <input type="text">
            </div>  <div class="col-md-4  form-group">
   Zipcode
                <input type="text">
            </div>
        
        </div>



    

          <div class="row paddingrf-15 right bottom-fix">

    

    

      
    <button class="btn theme-bg f-theme">Save</button>
              </div>





     </div></div>